Repository adn8naiagent/Templogger: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,css}": [
    "prettier --write",
    "git add"
  ]
}

Update Apply Database Migration After Mergev2.yml
  .github/workflows/Apply Database Migration After Mergev2.yml
Due: none

Checkpoint before assistant change: Update page headers to match application design and improve consistency
  client/src/pages/complete-self-audit.tsx
  client/src/pages/compliance-dashboard.tsx
  client/src/pages/temp-logger.tsx
Due: eslint --fix, prettier --write

Assistant checkpoint: Update navigation header to match app pattern
  client/src/components/layout/navigation.tsx
Due: eslint --fix, prettier --write

Update the 404 page to use the application's standard header and navigation
  client/src/pages/not-found.tsx
Due: eslint --fix, prettier --write

Update self-audit checklist page header for clarity
  client/src/pages/not-found.tsx
Due: eslint --fix, prettier --write

Update header to include refresh functionality for checklists
  attached_assets/image_1756437094000.png
  client/src/pages/self-audit-checklists.tsx
Due: eslint --fix, prettier --write

Implement standard FridgeSafe header across all app pages
  client/src/components/layout/navigation.tsx
  client/src/pages/not-found.tsx
Due: eslint --fix, prettier --write

Fix view fridges page not displaying data and update to use standard header
  client/src/components/layout/navigation.tsx
  client/src/pages/view-fridges.tsx
Due: eslint --fix, prettier --write

Add Log Temperature button to fridge detail page and update to use standard header
  client/src/pages/fridge-detail.tsx
Due: eslint --fix, prettier --write

Remove placeholder text from temperature input fields in Log Temperature Reading form
  client/src/pages/temp-logger.tsx
Due: eslint --fix, prettier --write

Add Prisma migration setup for Railway
  .claude/settings.local.json
  .github/workflows/deploy-migrations.yml
  .gitignore
  .replit
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write

Update deploy-migrations.yml
  .github/workflows/deploy-migrations.yml
Due: none

Migrate Supabase schema to Railway and create baseline
  .claude/settings.local.json
  complete_supabase_schema.sql
  prisma/migrations/20250829075930_baseline_from_supabase/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  supabase_dev_dump.sql
  table_list.txt
Due: prettier --write

Add paid membership tracking fields to users table
  prisma/schema.prisma
Due: none

Add Prisma migration for paid membership tracking fields
  prisma/migrations/20250829084726_add_paid_membership_tracking_fields/migration.sql
Due: none

Set up automated database schema workflow for AI agents
  AGENT_DATABASE_WORKFLOW.md
  scripts/agent-db-change.sh
  scripts/agent-schema-update.sh
  scripts/schema-change.sh
Due: prettier --write

Add location fields to user profile and account management page
  .claude/settings.local.json
  client/src/pages/account.tsx
  prisma/schema.prisma
Due: eslint --fix, prettier --write

Remove location information from user profiles and signup interface
  .replit
  client/src/pages/auth/signup.tsx
  server/auth.ts
  shared/schema.ts
Due: eslint --fix, prettier --write

Re-add location fields to signup schema and profile update schema
  shared/schema.ts
Due: eslint --fix, prettier --write
