Repository adn8naiagent/Templogger: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,css}": [
    "prettier --write",
    "git add"
  ]
}

Fix Supabase CLI package name in workflow
  .github/workflows/supabase-deploy.yml
Due: none

Remove GitHub issue creation from workflow
  .github/workflows/supabase-deploy.yml
Due: none

Fix Supabase CLI installation to use official installer
  .github/workflows/supabase-deploy.yml
Due: none

Fix Supabase CLI installation using GitHub releases
  .github/workflows/supabase-deploy.yml
Due: none

Use official Supabase setup-cli GitHub Action
  .github/workflows/supabase-deploy.yml
Due: none

Fix Supabase migration deployment with debug output
  .github/workflows/supabase-deploy.yml
Due: none

Add Railway deployment configuration
  nixpacks.toml
  railway.json
Due: prettier --write

Add new migration to force apply test column
  supabase/migrations/20250828100500_add_test_column_users.sql
Due: none

Add complete FridgeSafe schema migration for production
  supabase/migrations/20250828103000_complete_schema_deployment.sql
Due: none

Fix Supabase migration deployment - use migration up instead of db push
  .github/workflows/supabase-deploy.yml
Due: none

Add comprehensive Supabase migration support
  supabase/migrations/20250828110000_force_schema_deployment.sql
  supabase/migrations/20250828111500_schema_with_column_updates.sql
  supabase/migrations/20250828112000_column_rename_support.sql
Due: none

Fix Supabase workflow to apply migrations to remote database
  .github/workflows/supabase-deploy.yml
Due: none

Add database verification and foreign key constraint fixes
  supabase/migrations/20250828113000_fix_foreign_key_constraints.sql
  supabase/migrations/20250828114000_verify_database_state.sql
Due: none

Create Apply Database Migration After Merge.yml
  .github/workflows/Apply Database Migration After Merge.yml
Due: none

Create Apply Database Migration After Mergev2.yml
  .github/workflows/Apply Database Migration After Mergev2.yml
Due: none

Pre-Recovery checkpoint
  .replit
  .replit/instructions.md
Due: prettier --write

Update Apply Database Migration After Mergev2.yml
  .github/workflows/Apply Database Migration After Mergev2.yml
Due: none

Update project configuration and safety guidelines to prevent data loss
  .ai-instructions
  .ai-validation-checklist.md
  .claude/instructions.md
  .claude/settings.local.json
  .database-safety-rules.md
  .replit
  .replit/instructions.md
  PROJECT_RULES.md
  client/src/pages/temp-logger.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Add necessary development tools to the project configuration
  .replit
Due: none

Configure server to run and be accessible on port 80
  .replit
  start_server.sh
Due: none

Restored to '36a9054e736fee18d207b5c46f5505de90d8f7e7'
  .ai-instructions
  .ai-startup-check.md
  .ai-validation-checklist.md
  .claude/instructions.md
  .claude/settings.local.json
  .database-safety-rules.md
  .github/workflows/fridgesafe-ci.yml
  .github/workflows/supabase-deploy.yml
  .husky/pre-commit
  .replit
  PROJECT_RULES.md
  README.md
  client/src/pages/temp-logger.tsx
  jest.config.cjs
  nixpacks.toml
  package-lock.json
  package.json
  railway.json
  server/index.ts
  start_server.sh
  supabase/migrations/20250828065700_dev_schema_changes.sql
  supabase/migrations/20250828100500_add_test_column_users.sql
  supabase/migrations/20250828103000_complete_schema_deployment.sql
  supabase/migrations/20250828110000_force_schema_deployment.sql
  supabase/migrations/20250828111500_schema_with_column_updates.sql
  supabase/migrations/20250828112000_column_rename_support.sql
  supabase/migrations/20250828113000_fix_foreign_key_constraints.sql
  supabase/migrations/20250828114000_verify_database_state.sql
Due: eslint --fix, prettier --write

Checkpoint before assistant change: Remove the development-only security status widget from the application
  .claude/instructions.md
  .claude/settings.local.json
  .database-safety-rules.md
  .replit-ai-instructions.md
  PROJECT_RULES.md
  README.md
  client/src/App.tsx
  server/index.ts
Due: eslint --fix, prettier --write

Add documentation for project rules and AI instructions
  .ai-instructions
  .claude/instructions.md
  .claude/settings.local.json
  .database-safety-rules.md
  .replit-ai-instructions.md
  PROJECT_RULES.md
Due: prettier --write

Assistant checkpoint: Remove Refresh Fridges button
  client/src/pages/temp-logger.tsx
Due: eslint --fix, prettier --write

Checkpoint before assistant change: Remove an unnecessary button from the main application screen
  client/src/App.tsx
Due: eslint --fix, prettier --write

Assistant checkpoint: Fix SecurityStatus error and run quality checks
  client/src/App.tsx
  client/src/pages/compliance-dashboard.tsx
Due: eslint --fix, prettier --write
