Repository adn8naiagent/Templogger: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Improve code quality by enforcing strict TypeScript and enhancing linting rules
  .husky/pre-commit
  .lintstagedrc.json
  attached_assets/Pasted-Configure-ESLint-TypeScript-checking-and-Husky-for-our-React-Express-TypeScript-project-in-Repli-1756272152406_1756272152407.txt
  build-with-types.sh
  fix-remaining-lint.cjs
  package.json
  tsconfig.json
Due: prettier --write

Fix TypeScript errors and update user data handling logic
  client/src/components/calibration/calibration-manager.tsx
  client/src/hooks/use-toast.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Enhance user experience and fix minor bugs across the platform
  .claude/settings.local.json
  client/src/components/calibration/calibration-manager.tsx
  client/src/components/checklists/checklist-dashboard.tsx
  client/src/components/checklists/checklist-editor.tsx
  client/src/components/checklists/complete-checklist-modal.tsx
  client/src/components/checklists/schedule-editor.tsx
  client/src/components/dashboard/subscription-tiers.tsx
  client/src/components/ui/command.tsx
  client/src/components/ui/form.tsx
  client/src/components/ui/select.tsx
  client/src/hooks/use-toast.ts
  client/src/pages/account.tsx
  client/src/pages/add-fridge.tsx
  client/src/pages/admin/dashboard.tsx
  client/src/pages/admin/subscriptions.tsx
  client/src/pages/admin/users.tsx
  client/src/pages/auth/login.tsx
  client/src/pages/auth/signup.tsx
  client/src/pages/checklists.tsx
  client/src/pages/complete-self-audit.tsx
  client/src/pages/compliance-dashboard.tsx
  client/src/pages/create-audit-template.tsx
  client/src/pages/edit-fridge.tsx
  client/src/pages/fridge-detail.tsx
  client/src/pages/not-found.tsx
  client/src/pages/self-audit-checklists.tsx
  client/src/pages/settings.tsx
  client/src/pages/subscribe.tsx
  client/src/pages/subscribe/success.tsx
  client/src/pages/temp-logger.tsx
  client/src/pages/view-audit-completion.tsx
  client/src/pages/view-fridges.tsx
  scripts/security-watch.ts
  server/auth.ts
  server/checklist-service.ts
  server/replitAuth.ts
  server/scheduling-utils.ts
  server/storage.ts
Due: eslint --fix, prettier --write

Resolve comprehensive TypeScript errors across codebase
  .claude/settings.local.json
  client/src/components/checklists/schedule-editor.tsx
  client/src/pages/compliance-dashboard.tsx
  client/src/pages/edit-fridge.tsx
  client/src/pages/fridge-detail.tsx
  client/src/pages/self-audit-checklists.tsx
  client/src/pages/temp-logger.tsx
  client/src/pages/view-audit-completion.tsx
  server/index.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Fix ESLint warnings by replacing any types with proper type guards
  server/index.ts
Due: eslint --fix, prettier --write

Significantly reduce TypeScript errors in server routes
  server/routes.ts
Due: eslint --fix, prettier --write

Fix all remaining TypeScript errors in server routes
  server/routes.ts
Due: eslint --fix, prettier --write

Fix ESLint warnings by removing explicit any types
  server/routes.ts
Due: eslint --fix, prettier --write

Fix code formatting with Prettier and resolve ESLint warnings
  .claude/settings.local.json
  client/src/components/checklists/schedule-editor.tsx
  server/index.ts
  server/routes.ts
Due: eslint --fix, prettier --write

Update deprecated GitHub Actions to v4
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Remove redundant CI workflow causing upload-artifact@v3 deprecation error
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

Update codecov-action from v4 to v5 to fix upload-artifact@v3 deprecation
  .github/workflows/ci-cd.yml
Due: none

Temporarily disable third-party actions to isolate upload-artifact@v3 issue
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
Due: none

Create minimal CI workflow to isolate upload-artifact@v3 issue
  .github/workflows/ci-cd.yml
Due: none

ISOLATION TEST: Create ultra-minimal workflow to debug upload-artifact@v3
  .claude/settings.local.json
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/security.yml.disabled
  .github/workflows/test-minimal.yml
Due: prettier --write

Step 1: Re-enable basic CI without third-party actions
  .github/workflows/ci-basic.yml
  .github/workflows/test-minimal.yml
Due: none

Fix Prettier formatting issues and improve CI workflow
  .claude/settings.local.json
  .github/workflows/ci-basic.yml
Due: prettier --write

Replace CI pipeline with FridgeSafe workflow - fixes upload-artifact@v3 deprecation
  .github/workflows/fridgesafe-ci.yml
Due: none

Fix workflow script names - use security:test and type-check
  .github/workflows/fridgesafe-ci.yml
Due: none

Allow security scan to continue with warnings for CI pipeline
  .github/workflows/fridgesafe-ci.yml
Due: none

Fix security vulnerabilities - remove csurf and ts-node-dev
  .claude/settings.local.json
  .github/workflows/ci-basic.yml
  .github/workflows/fridgesafe-ci.yml
  package-lock.json
  package.json
Due: prettier --write

Fix Prettier formatting issues
  .claude/settings.local.json
Due: prettier --write

Fix Jest test failures - update configuration and component tests
  client/src/components/security/__tests__/security-status.test.tsx
  client/src/components/ui/__tests__/input.test.tsx
  jest.config.cjs
Due: eslint --fix, prettier --write

Fix Prettier formatting issues
  client/src/components/security/__tests__/security-status.test.tsx
  client/src/components/ui/__tests__/input.test.tsx
Due: eslint --fix, prettier --write

Fix remaining Jest test failures and add GitHub Actions summary
  .github/workflows/fridgesafe-ci.yml
  __mocks__/wouter.js
  client/src/components/checklists/__tests__/checklist-dashboard.test.tsx
  client/src/components/dashboard/quick-actions.tsx
  client/src/components/layout/__tests__/navigation.test.tsx
  jest.config.cjs
Due: eslint --fix, prettier --write

Fix linting/prettier errors and enhance GitHub Actions error reporting
  .github/workflows/fridgesafe-ci.yml
  __mocks__/wouter.js
Due: eslint --fix, prettier --write

Configure Express server for React frontend production deployment
  .claude/settings.local.json
  package-lock.json
  package.json
  scripts/test-production.sh
  server/index.ts
Due: eslint --fix, prettier --write

Saved your changes before starting work
  .claude/settings.local.json
  LICENSE
  README.md
  supabase/.gitignore
  supabase/config.toml
  supabase/seed.sql
Due: prettier --write

Add a new test column to the user database table
  shared/schema.ts
Due: eslint --fix, prettier --write

Remove unused test column from user data
  shared/schema.ts
Due: eslint --fix, prettier --write

Add a new field for test data to the user table
  shared/schema.ts
Due: eslint --fix, prettier --write

Add migration for recent schema changes
  supabase/migrations/20250828065700_dev_schema_changes.sql
Due: none

Add comprehensive project rules and Supabase deployment workflow
  .ai-startup-check.md
  .ai-validation-checklist.md
  .claude/instructions.md
  .claude/settings.local.json
  .database-safety-rules.md
  .github/workflows/fridgesafe-ci.yml
  .github/workflows/supabase-deploy.yml
  .husky/pre-commit
  .replit
  PROJECT_RULES.md
  README.md
  jest.config.cjs
  package-lock.json
  package.json
  server/index.ts
Due: eslint --fix, prettier --write

Assistant checkpoint: Remove security status component from UI
  client/src/pages/temp-logger.tsx
Due: eslint --fix, prettier --write

Fix Supabase deployment workflow trigger issues
  .github/workflows/supabase-deploy.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
