Repository adn8naiagent/Templogger: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update database connection and environment configurations for development
  .claude/settings.local.json
  .env.example
  .replit
  client/src/lib/supabase.ts
  client/src/pages/account.tsx
  complete_supabase_schema.sql
  package.json
  prisma/migrations/20250829075930_baseline_from_supabase/migration.sql
  prisma/migrations/20250829084726_add_paid_membership_tracking_fields/migration.sql
  prisma/migrations/migration_lock.toml
  server/supabase.ts
  shared/schema.ts
  start-with-railway.sh
  supabase/.gitignore
  supabase/config.toml
  supabase/seed.sql
  use-railway.sh
Due: eslint --fix, prettier --write

Update development configuration and database workflow setup
  .ai-instructions
  .claude/instructions.md
  .claude/settings.local.json
  .github/workflows/migrate-database.yml
  .replit-ai-instructions.md
  AGENT_DATABASE_WORKFLOW.md
  PROJECT_RULES.md
  scripts/agent-schema-update.sh
  scripts/schema-change.sh
  start-with-railway.sh
  test-neon-connection.sh
  use-railway.sh
Due: prettier --write

Add baseline migration for production database deployment
  .claude/settings.local.json
  prisma/migrations/20250830070614_baseline_production/migration.sql
Due: prettier --write

Fix GitHub Action workflow to handle pending migrations properly
  .github/workflows/migrate-database.yml
Due: none

Completely rewrite GitHub Actions migration workflow with robust logic
  .github/workflows/migrate-database.yml
Due: none

Update GitHub Action to only trigger on PR merges, not direct pushes
  .github/workflows/migrate-database.yml
Due: none

Add display name and business name fields to user accounts
  client/src/pages/account.tsx
  client/src/pages/auth/signup.tsx
  prisma/schema.prisma
  server/auth.ts
  shared/schema.ts
Due: eslint --fix, prettier --write

Remove location tracking fields from user profiles and sign-up forms
  client/src/pages/account.tsx
  client/src/pages/auth/signup.tsx
  server/auth.ts
  shared/schema.ts
Due: eslint --fix, prettier --write

Add missing database migration file for user fields
  prisma/migrations/20250830074037_add_display_name_business_name_to_users/migration.sql
Due: none

Add management dashboard for viewing company-wide temperature compliance data
  client/src/App.tsx
  client/src/components/layout/navigation.tsx
  client/src/pages/management-dashboard.tsx
  server/routes.ts
  server/storage.ts
  shared/schema.ts
Due: eslint --fix, prettier --write

Add critical database schema synchronization rules to all AI instructions
  .ai-instructions
  .claude/instructions.md
  .replit-ai-instructions.md
  PROJECT_RULES.md
Due: prettier --write

Fix Railway deployment 404 issue with robust production detection
  server/index.ts
Due: eslint --fix, prettier --write

Add management_relationships table migration
  prisma/migrations/20250830085317_add_management_relationships_table/migration.sql
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,css})
